.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    flex: 1; /* Ensure all boxes have equal flex proportions */
    padding: 10px; /* Add padding to create spacing between the boxes */
    text-align: center;
    color: white;
}

.box1 {
    background: lime;
    font-size: 2rem;
}

.box2 {
    background: lightskyblue;
    font-size: 7rem;
}

.box3 {
    background: darkblue;
    font-size: 12rem;
}

.box4 {
    background: darkmagenta;
    font-size: 7rem;
}

.box5 {
    background: darkorange;
    font-size: 2rem;
}
