.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style for each box */
.box {
    flex: 1; /* Ensure all boxes have equal flex proportions */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1 {
    background: lime;
    font-size: 2rem;
}

.box2 {
    background: lightskyblue;
    font-size: 7rem;
}

.box3 {
    background: darkblue;
    font-size: 12rem;
}

.box4 {
    background: darkmagenta;
    font-size: 7rem;
}

.box5 {
    background: darkorange;
    font-size: 2rem;
}
